.post-content pre,
code {
    font-family: 'Code New Roman', sans-serif;
    max-height: 40rem;
}

body {
    font-family: 'Code New Roman', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    margin: 0;
}